custom-chatbot-reset-password.json
{
  "name": "Wali Santri Chatbot (AI Guardrails + Custom Code Tool)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "operation": "contains",
              "value2": "EXECUTE_RESET_NOW"
            }
          ]
        }
      },
      "id": "459d31c5-2d39-4e5b-9847-2b74ef12763c",
      "name": "Apakah Data Lengkap?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        2576
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "159da87a-17e7-4b12-a4a4-e58fea6e1b87",
      "name": "AI Menjawab Langsung1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        2720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT users.id, users.name\nFROM users\nJOIN parents ON users.id = parents.user_id\nJOIN parent_student ON parents.id = parent_student.parent_id\nJOIN students ON parent_student.student_id = students.id\nWHERE parents.nik = '{{ $json.nik }}' AND students.nis = '{{ $json.nis }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "8adbe0ff-c625-45ab-89b7-23bd85eff764",
      "name": "MariaDB: Cek Database1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        224,
        2512
      ],
      "credentials": {
        "mySql": {
          "id": "CNZlbSSIkQWPd8ik",
          "name": "kajian-walsan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "26b34972-47ce-4c66-9e0c-f74245be7c0f",
      "name": "Data MariaDB Ditemukan?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        2512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET password = '$2y$10$ac7DHg9RWx.vHyDwVtU68ezFWqfsqggST4QkHWOQnhd493Fv/rlg2' WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "925015e8-4771-4eb7-b284-e8f119a00970",
      "name": "MariaDB: Update Password1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        720,
        2384
      ],
      "credentials": {
        "mySql": {
          "id": "CNZlbSSIkQWPd8ik",
          "name": "kajian-walsan"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "output",
              "value": "Berhasil! ✅\n\nData cocok dengan database sekolah. Password Anda berhasil di-reset. Silakan login kembali dengan password otomatis:\n\n*PasswordSementara123*"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc77bbb-8640-4f1f-a604-a67ffaa817fc",
      "name": "Kirim Sukses ke User1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        944,
        2384
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "output",
              "value": "Mohon maaf, NIK atau NIS yang Anda berikan tidak ditemukan dalam sistem database Pesantren kami. Harap teliti kembali data Anda."
            }
          ]
        },
        "options": {}
      },
      "id": "983e3ba2-347d-4c1a-9eef-586129e52113",
      "name": "Kirim Meleset ke User1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        2608
      ]
    },
    {
      "parameters": {
        "jsCode": "const textOut = $input.item.json.output || '';\nconst parts = textOut.split('|');\nreturn {\n  nik: parts[1],\n  nis: parts[2]\n};"
      },
      "id": "4cd32ff7-6cca-4a0a-bf86-8f3ee21777bd",
      "name": "Ekstrak NIK & NIS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2512
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah Guardian Khusus Pemulihan Akun Wali Santri kajian.griyaquran.web.id.\n\nATURAN KETAT:\n1. JANGAN PERNAH melayani obrolan di luar pemulihan password.\n2. Jika pesan user tidak mengandung NIK (16 angka) dan NIS anak, tegur ramah dan minta mereka mengetiknya.\n3. Jika NIK dan NIS SUDAH LENGKAP, kamu WAJIB membalas dengan format mutlak berikut (tanpa tambahan basa-basi apa pun):\nEXECUTE_RESET_NOW|{{NIK_USER}}|{{NIS_USER}}\n\nContoh respon jika berhasil mendapat NIK dan NIS: EXECUTE_RESET_NOW|3301xxxxxxxx1234|12345"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -544,
        2576
      ],
      "id": "8560213c-251e-401d-8d14-870e6ccc1409",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -544,
        2816
      ],
      "id": "0eec3562-2fd6-40c5-9e81-0f62ea98f596",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "H2MRBHuA4EivwEk5",
          "name": "sumopod"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        2816
      ],
      "id": "724c407d-9193-4523-803a-df043139437e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajian-walsan-gq",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1beb1845-2512-4046-92c6-a06b2d1b22f1",
      "name": "Webhook dari Chat Widget",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1328,
        2592
      ],
      "webhookId": "kajian-walsan-gq"
    },
    {
      "parameters": {
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -1072,
        2592
      ],
      "id": "146fe91f-1cc5-483d-b342-998be516dcf4",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1072,
        2784
      ],
      "id": "cd8b8763-ea76-47d6-bc6b-eeacc1f29ccf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "H2MRBHuA4EivwEk5",
          "name": "sumopod"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "549b27b1-f74e-4562-8011-835da5cc5997",
              "name": "output",
              "value": "Sistem Keamanan Sekolah menolak pesan Anda karena mendeteksi adanya bahasa yang tidak pantas atau tak terkait pemulihan akun. Harap jaga adab dalam berkomunikasi.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        2704
      ],
      "id": "9336b2ae-84be-4924-b6f1-1128d0bef0b6",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Apakah Data Lengkap?1": {
      "main": [
        [
          {
            "node": "Ekstrak NIK & NIS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Menjawab Langsung1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MariaDB: Cek Database1": {
      "main": [
        [
          {
            "node": "Data MariaDB Ditemukan?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data MariaDB Ditemukan?1": {
      "main": [
        [
          {
            "node": "MariaDB: Update Password1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kirim Meleset ke User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MariaDB: Update Password1": {
      "main": [
        [
          {
            "node": "Kirim Sukses ke User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak NIK & NIS": {
      "main": [
        [
          {
            "node": "MariaDB: Cek Database1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Apakah Data Lengkap?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dari Chat Widget": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "47790d74-9bbe-4d8f-bdf3-d84f60357ebb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fa8ea173e4db9bb56b4dac4742e156c9246046ab1879cdfd0cc1523f7e45eed"
  },
  "id": "CbZVfRXarWk4dwEEgWKLx",
  "tags": []
}