n8n-forgot-password-reset-link.json
{
  "name": "Kajian Walsan - Forgot Password Reset Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajian-walsan-forgot-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7df25860-5b2b-4d2d-8e7b-9da4d87f77a1",
      "name": "Webhook dari Laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "webhookId": "kajian-walsan-forgot-password"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst expectedSecret = $env.KAJIAN_WALSAN_RESET_SECRET || '';\n\nif (!expectedSecret || body.secret !== expectedSecret) {\n  throw new Error('Unauthorized reset password request');\n}\n\nconst appName = 'Presensi Kajian Walsan';\nconst expires = body.expires_minutes || 60;\nconst name = body.name || 'Bapak/Ibu Wali Santri';\nconst resetUrl = body.reset_url;\n\nif (!resetUrl) {\n  throw new Error('reset_url is required');\n}\n\nconst message = `Assalamu'alaikum ${name}.\\n\\nKami menerima permintaan reset password akun ${appName}.\\n\\nSilakan buka link berikut untuk membuat password baru:\\n${resetUrl}\\n\\nLink berlaku ${expires} menit. Abaikan pesan ini jika Anda tidak meminta reset password.`;\n\nreturn [{\n  json: {\n    name,\n    username: body.username || '',\n    email: body.email || '',\n    phone: body.phone || '',\n    preferred_channel: body.preferred_channel || 'email',\n    reset_url: resetUrl,\n    expires_minutes: expires,\n    message,\n    subject: 'Reset Password Presensi Kajian Walsan'\n  }\n}];"
      },
      "id": "13899f52-8a73-4f3d-9746-bd6da3c7178c",
      "name": "Validasi Secret & Susun Pesan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phone-not-empty",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c61af30a-6c1f-4c90-a903-707ac12d99ef",
      "name": "Ada Nomor WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WA_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c2e4a204-0d78-45c0-a005-8f3cc3002e7b",
      "name": "Kirim WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -220
      ],
      "continueOnFail": true,
      "notes": "Isi env n8n WA_API_URL dan WA_API_TOKEN sesuai provider WhatsApp Anda. Body default: { phone, message }."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-not-empty",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "046e2401-6470-493b-816d-4f32034f736e",
      "name": "Ada Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMAIL_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.EMAIL_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.email }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"text\": \"{{ $json.message }}\",\n  \"html\": \"<p>Assalamu'alaikum {{ $json.name }}.</p><p>Kami menerima permintaan reset password akun Presensi Kajian Walsan.</p><p><a href='{{ $json.reset_url }}'>Klik di sini untuk membuat password baru</a></p><p>Link berlaku {{ $json.expires_minutes }} menit. Abaikan pesan ini jika Anda tidak meminta reset password.</p>\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e6f296ab-6f1f-4329-8433-3420dc748960",
      "name": "Kirim Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        80
      ],
      "continueOnFail": true,
      "notes": "Isi env n8n EMAIL_API_URL dan EMAIL_API_TOKEN sesuai provider email API Anda. Body default: { to, subject, text, html }."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Reset instruction queued\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "455dbf31-6b60-4bd0-a381-02ea6b8ec5d8",
      "name": "Response ke Laravel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook dari Laravel": {
      "main": [
        [
          {
            "node": "Validasi Secret & Susun Pesan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Secret & Susun Pesan": {
      "main": [
        [
          {
            "node": "Ada Nomor WhatsApp?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ada Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response ke Laravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada Nomor WhatsApp?": {
      "main": [
        [
          {
            "node": "Kirim WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ada Email?": {
      "main": [
        [
          {
            "node": "Kirim Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1dbeb96-57c4-4b59-b9ef-305bf61b6140",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "kajian-walsan-forgot-password-reset-link",
  "tags": []
}
