n8n_workflow_walsan.json
{
  "name": "Wali Santri Chatbot (AI Guardrails + Custom Code Tool)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e0a1b2c3-d4e5-4a0b-90f7-b8f2c8d2f1d9",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "webhookId": "kajian-walsan-gq"
    },
    {
      "parameters": {
        "operation": "sanitizeText",
        "textToCheck": "={{ $json.chatInput }}",
        "guardrails": {
          "guardrailValues": []
        }
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Guardrails",
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Kamu adalah Agent Pemulihan Akun Wali Santri kajian.griyaquran.web.id.\n\nATURAN KETAT:\n1. JANGAN melayani obrolan di luar konteks lupa password.\n2. Minta NIK (16 digit angka) dan NIS anak jika user belum memberikannya.\n3. Jika NIK dan NIS sudah diberikan, jalankan fungsi/alat Extract_Variables_Code.\n4. Jelaskan kepada user bahwa data sedang diproses sistem."
        }
      },
      "id": "f5deb81d-baad-4b47-a8ac-48ed2d980f76",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-1234-56789abcdef0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-f6a7-8901-2345-6789abcdef01",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "name": "Extract_Variables_Code",
        "description": "Jalankan tool ini jika user sudah memberi NIK (16 digit) dan NIS.",
        "jsCode": "/* Di Node Code Javascript ini, Anda bisa mengolah NIK dan NIS */\n\nconst nik = $input.nik;\nconst nis = $input.nis;\n\n// Kembalikan output agar AI membacanya\nreturn `Data berhasil diekstrak. Meneruskan ke backend. NIK: ${nik}, NIS: ${nis}`;"
      },
      "id": "c3d4e5f6-a7b8-9012-3456-789abcdef012",
      "name": "Code Tool Reset Password",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        800,
        450
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool Reset Password": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
